* {
  margin: 1px;
}

body {
  margin-top: 30px;
  box-sizing: border-box;
  background-image: url("https://images.unsplash.com/photo-1618677064430-07be98f4302e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  color: antiquewhite;
}

#h1div {
  border-radius: 10px 10px 0 0;
  background-color: rgba(0, 0, 0, 0.6);
}

#all {
  margin: auto;
  border-radius: 10px 10px 0 0;
  width: 900px;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  text-align: center;
}

#fname,
#lname {
  /* background-color: yellow; */
  padding: 3px;
  padding-top: 10px;
  width: 49%;
  float: left;
  text-align: justify;
}

#Firstname,
#Lastname {
  width: 100%;
}

#datep {
  clear: both;
  text-align: justify;
  /* background-color: turquoise; */
  padding: 30px 0px;
}

#submit {
  width: 80px;
  height: 45px;
  border: none;
  padding: 0;
  background: rgb(146, 148, 219);
  background: linear-gradient(
    90deg,
    rgba(146, 148, 219, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 15px;
}

.textp {
  height: 40px;
  border-radius: 5px;
  border: none;
  width: 250px;
}
